<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDT1qUU9GLuplP9f3nI3-GQ1BSYrfQOPJs</string>
	<key>GCM_SENDER_ID</key>
	<string>722713212461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moonshred.bootcamperciyesFinalProject</string>
	<key>PROJECT_ID</key>
	<string>bootcamperciyes-final</string>
	<key>STORAGE_BUCKET</key>
	<string>bootcamperciyes-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722713212461:ios:b506fbdabf27d3f3a32aa4</string>
</dict>
</plist>